#DNA {
  width: 120px;
  height: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotate(90deg);
  padding-left: 20px;
}

.dna {
  width: 50px;
  height: 1px;
  background: #00ADEF;
  margin: 6px;
  display: flex;
  justify-content: space-between;
  animation-name: line;
  will-change: transform;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  box-shadow: 0px 0px 3px darkgrey;
}

.dna:after,
.dna:before {
  content: '';
  position: relative;
  display: block;
  top: -2px;
  width: 6px;
  height: 6px;
  background: #00ADEF;
  border-radius: 100%;
  box-shadow: 0px 0px 5px darkgrey;
}

.dna:nth-of-type(2n),
.dna:nth-of-type(2n):before,
.dna:nth-of-type(2n):after {
  background-color: white;
}

@keyframes line {
  to {
    width: 10px;
    margin-left: 25px;
  }
}
